assets/crashlytics-build.properties
res/values/com_crashlytics_export_strings.xml
.DS_Store
._.DS_Store
*.apk
*.ap_
*.dex
*.class
bin
gen
libs
settings
local.properties
proguard/
*.pbxuser
!default.mode1v3
*mode2v3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
Pods
*.perspectivev3
*.log
build/
VideoLibRoboVM/VideoLibRoboVM/
VideoLibRoboVM/evaobjects.*
VideoLibRoboVM/evaobjects.*
VideoLibRoboVM/libplayer.*
